# .gitignore for Grails 2.4.3

#unwanted bin from grails-app
grails-app/assets/*
grails-app/utils/*
grails-app/migrations/*

#grails pics
web-app/*

#intellij shit
*.iml
.classpath
.project
.settings
.idea
grailsw.bat
grailsw

#grails lib 
lib/*
src/*
wrapper/*

#grails tests
test/*

#grails war files
target/*

#forgotten gitignore gedit-backup
.gitignore~  


