.mapWithDec{
    width: 100%;
    height: 75vh;
    position: absolute;
    opacity: 0.3;
    filter: alpha(opacity=30);
    transition: all .5s ease-out 0.1s;
    left: 0;
}

.mapToAddDec{
    width: 100%;
    height: 50vh;
    left: 0;
}

#mainContent {
    background: rgba(26, 188, 156, 0.3);
    transition: all .5s ease-out 0.1s;
}

.search {
    margin-left: -11%;
}

.form-actions {
    margin: 0;
    background-color: transparent;
    text-align: center;
}

.tooltip-actions {
    position: absolute;
    margin-top: 1vh;
    right: 1vh;
}
.youtube-actions {
    position: absolute;
    margin-top: 7vh;
    right: 1vh;
}

.youtube-button {
    width: 32px;
    height:32px;
}
.customNavbar {
    margin-bottom: 0%;
}

.customJumbotron {
    padding-top: 2%;
}

.customFooter {
    background-color: #34495e;
}

.customFadeInBtn {
    width: 100%;
    background-color: #34495e;
    padding:0px 15px;
    border-radius: 0px;
}

.customFadeOutBtn {
    display: none;
    width: 100%;
    padding:0px 15px;
    background-color: #34495e;
    border-radius: 0px;
}
.searchBtn {
    background: #1BBC9B;
    padding: 10px 35px;
}
/*.customSearchBar {
    margin-top: -8%;
    float: right;
    margin-right: 3%;
}*/

.searchRow {
    margin-left: 0;
    margin-right: 0;
}

.emptyRow {
    margin-top:2%;
}

.searchBarDefaultSize {
    width: 442px;
    height: 42px;
}

.customActionSubmitImage{
    padding: 0;
    pointer-events: visible;
}

.customTextField{
    width: 100%;
    padding-right: 40px;
}

.customSearchBar{
    width: 100%;
}

.homepageSearchBar{
    height: 75vh;
    padding-top: 20vh;
}

.tagList {
    padding-top: 2%;
}
.formToAddGeo {
    padding-top: 1%;
}

.hidden-element {
    visibility: hidden;
    width:50px;
}

.fixedRow {
    height: 10vh;
}

.submit-btn {
    background-color:#1abc9c;
}

.mouseStyle{
    cursor: pointer;
}

.resultsDetails {
    display: none;
    padding:0;
}


th.asc a {
    background-image: url(../images/skin/sorted_asc.gif);
}

th.desc a {
    background-image: url(../images/skin/sorted_desc.gif);
}

/* PAGINATION */

.pagination {
    border-top: 0;
    margin: 0;
    padding: 0.3em 0.2em;
    text-align: center;
    background-color: #ffffff;
}

.pagination a,
.pagination .currentStep {
    color: #34495E;
    display: inline-block;
    margin: 0 0.1em;
    padding: 0.25em 0.7em;
    text-decoration: none;
    -moz-border-radius: 0.3em;
    -webkit-border-radius: 0.3em;
    border-radius: 0.3em;
}

.pagination a:hover, .pagination a:focus,
.pagination .currentStep {
    background-color: #34495E;
    color: #ffffff;
    outline: none;

}

.no-borderradius .pagination a:hover, .no-borderradius .pagination a:focus,
.no-borderradius .pagination .currentStep {
    background-color: transparent;
    color: #34495E;
    text-decoration: underline;
}
